@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    
}

.caja-contenido{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: #d5e1ef;
    height: 100vh;
}

.caja-grande {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    padding: 17px;
    border-radius: 10px;
    width: 18%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.11);
}

.imagen img{
    width: 100%;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    font-weight: 700;
    color: #141e36;
    padding: 8px 14px;
    font-size: 17px;
}

.contenido {
    font-size: 12px;
    color: #888c99;
    text-align: center;
    padding: 8px 12px;
}





/* Segmento de créditos (vino en el paquete)*/
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    /* Ajustar el layout para móviles */
    .caja-grande {
        width: 86%; /* Aumentar el ancho en móviles */
    }

    .titulo {
        font-size: 1.2rem; /* Ajustar el tamaño de la fuente */
    }

    .contenido {
        font-size: 1rem;
    }
}